# Reddit r/ForeverAlone Survey Analysis

ForeverAlone was a subreddit to share the forever alone meme, but somewhere down the line, it turned into an identity and a place where people who have been alone most of their lives could come and talk about their issues.

Tag line of r/ForeverAlone [A subreddit for Forever Alone. lonely depressed sad anxiety](https://www.reddit.com/r/ForeverAlone/)

## Import Data

In [66]:
# import packages

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import plotly.plotly as py
import plotly.graph_objs as go
import plotly.figure_factory as ff
from plotly.offline import init_notebook_mode, iplot
init_notebook_mode(connected=True)
%matplotlib inline

In [30]:
# load dataset
df = pd.read_csv('foreveralone.csv')

In [14]:
df.head()

,time,gender,sexuallity,age,income,race,bodyweight,virgin,prostitution_legal,pay_for_sex,friends,social_fear,depressed,what_help_from_others,attempt_suicide,employment,job_title,edu_level,improve_yourself_how
0,5/17/2016 20:04:18,Male,Straight,35,"$30,000 to $39,999",White non-Hispanic,Normal weight,Yes,No,No,0.0,Yes,Yes,"wingman/wingwoman, Set me up with a date",Yes,Employed for wages,mechanical drafter,Associate degree,None
1,5/17/2016 20:04:30,Male,Bisexual,21,"$1 to $10,000",White non-Hispanic,Underweight,Yes,No,No,0.0,Yes,Yes,"wingman/wingwoman, Set me up with a date, date...",No,Out of work and looking for work,-,"Some college, no degree",join clubs/socual clubs/meet ups
2,5/17/2016 20:04:58,Male,Straight,22,$0,White non-Hispanic,Overweight,Yes,No,No,10.0,Yes,Yes,I don't want help,No,Out of work but not currently looking for work,unemployed,"Some college, no degree",Other exercise
3,5/17/2016 20:08:01,Male,Straight,19,"$1 to $10,000",White non-Hispanic,Overweight,Yes,Yes,No,8.0,Yes,Yes,date coaching,No,A student,student,"Some college, no degree",Joined a gym/go to the gym
4,5/17/2016 20:08:04,Male,Straight,23,"$30,000 to $39,999",White non-Hispanic,Overweight,No,No,Yes and I have,10.0,No,Yes,I don't want help,No,Employed for wages,Factory worker,"High school graduate, diploma or the equivalen...",None

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 19 columns):
time                     469 non-null object
gender                   469 non-null object
sexuallity               469 non-null object
age                      469 non-null int64
income                   469 non-null object
race                     469 non-null object
bodyweight               469 non-null object
virgin                   469 non-null object
prostitution_legal       469 non-null object
pay_for_sex              469 non-null object
friends                  469 non-null float64
social_fear              469 non-null object
depressed                469 non-null object
what_help_from_others    469 non-null object
attempt_suicide          469 non-null object
employment               469 non-null object
job_title                457 non-null object
edu_level                469 non-null object
improve_yourself_how     469 non-null object
dtypes: float64(1), int64(1), object(17)
memory usage: 69.7+ KB

In [6]:
df.describe()

              age     friends
count  469.000000  469.000000
mean    23.963753    7.956716
std      6.023526   34.371500
min     12.000000    0.000000
25%     20.000000    1.000000
50%     23.000000    3.000000
75%     26.000000    7.000000
max     70.000000  600.000000

In [7]:
df.duplicated().any()

False

In [8]:
df.isna().any()

time                     False
gender                   False
sexuallity               False
age                      False
income                   False
race                     False
bodyweight               False
virgin                   False
prostitution_legal       False
pay_for_sex              False
friends                  False
social_fear              False
depressed                False
what_help_from_others    False
attempt_suicide          False
employment               False
job_title                 True
edu_level                False
improve_yourself_how     False
dtype: bool

In [9]:
df.job_title.value_counts()

Student                        50
student                        25
none                           17
None                           12
Unemployed                     11
Engineer                        9
Student                         7
.                               6
-                               6
Software Engineer               5
Intern                          5
na                              4
Nothing                         4
Cashier                         4
Clerk                           3
engineer                        3
Software developer              3
NEET                            3
Software Developer              3
None                            2
Sales                           2
Auditor                         2
Technician                      2
Designer                        2
Cleaner                         2
Teacher                         2
Courier                         2
N/a                             2
IT                              2
Janitor                         2
                               ..
Senior Developer                1
Language teacher                1
Factory worker                  1
supervisor                      1
Retail                          1
Management                      1
Grad Student                    1
Accounts Receivable             1
Undergraduate                   1
ggg                             1
retail worker                   1
Masters                         1
Data and development            1
Medical Services                1
*                               1
University Student              1
Data entry                      1
customer service                1
Marketing                       1
Sales clerk                     1
Program Manager, Non-profit     1
Research assistant              1
mechanical drafter              1
bum                             1
Grad student                    1
Aviation Electricians Mate      1
student teacher                 1
PA                              1
Scientist                       1
Junior BA                       1
Name: job_title, Length: 275, dtype: int64

## Data Wrangling

<ul>
    <li> Change Datatype of friends from float to int, because it's not possible to have 5.5 friends.</li>
    <li> Remove rows where job_title is null. </li>
    <li> Rename job_title values where the values is either in lower case or has a space before or after.  </li>
</ul>

Convert Datatype of Friends from float to int

In [34]:
# change dataype to int
df['friends'] = df['friends'].astype(np.int64)

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 469 entries, 0 to 468
Data columns (total 19 columns):
time                     469 non-null object
gender                   469 non-null object
sexuallity               469 non-null object
age                      469 non-null int64
income                   469 non-null object
race                     469 non-null object
bodyweight               469 non-null object
virgin                   469 non-null object
prostitution_legal       469 non-null object
pay_for_sex              469 non-null object
friends                  469 non-null int64
social_fear              469 non-null object
depressed                469 non-null object
what_help_from_others    469 non-null object
attempt_suicide          469 non-null object
employment               469 non-null object
job_title                457 non-null object
edu_level                469 non-null object
improve_yourself_how     469 non-null object
dtypes: int64(2), object(17)
memory usage: 69.7+ KB

Drop rows where it's null.

In [37]:
#drop rows with null values
df.dropna(inplace=True)

In [39]:
df.isna().any()

time                     False
gender                   False
sexuallity               False
age                      False
income                   False
race                     False
bodyweight               False
virgin                   False
prostitution_legal       False
pay_for_sex              False
friends                  False
social_fear              False
depressed                False
what_help_from_others    False
attempt_suicide          False
employment               False
job_title                False
edu_level                False
improve_yourself_how     False
dtype: bool

Rename Values of Job_titles

In [41]:
# strip stings with white space
df['job_title'] = df.job_title.str.strip()

In [42]:
# Function to replace job_title values
def replace_text(what, to):
    df.replace(what, to, inplace= True)

In [47]:
replace_text('student', 'Student')
replace_text('none', 'None')
replace_text("N/a", 'None')
replace_text('na', 'None')
replace_text('-', 'None')
replace_text('.', 'None')
replace_text('*', 'None')
replace_text('ggg', 'None')

In [50]:
df.job_title.value_counts()

Student                        82
None                           51
Unemployed                     13
Engineer                        9
Software Engineer               6
Intern                          5
Cashier                         4
Software developer              4
Nothing                         4
Software Developer              3
Clerk                           3
Technician                      3
NEET                            3
engineer                        3
Teacher                         3
IT                              2
Accountant                      2
Courier                         2
nothing                         2
Admin                           2
Designer                        2
Auditor                         2
Grad student                    2
Research assistant              2
unemployed                      2
Janitor                         2
Cleaner                         2
Sales                           2
Cook                            2
Loser                           2
                               ..
Insurance agent.                1
assistant caretaker             1
customer service                1
Language teacher                1
Factory worker                  1
supervisor                      1
Grad Student                    1
Accounts Receivable             1
Lawyer                          1
retail worker                   1
Masters                         1
Retail Associate                1
Senior Developer                1
Cinema Student                  1
Data entry                      1
Marketing                       1
2nd lieutenant                  1
Sales clerk                     1
Program Manager, Non-profit     1
mechanical drafter              1
bum                             1
college                         1
Aviation Electricians Mate      1
receptionist                    1
student teacher                 1
PA                              1
Scientist                       1
University Student              1
Trainee Mechanical Engineer     1
Junior BA                       1
Name: job_title, Length: 258, dtype: int64

## EDA

In [65]:
df.gender.value_counts()

Male                  382
Female                 72
Transgender male        2
Transgender female      1
Name: gender, dtype: int64

In [68]:
# Gender counts

data = [go.Bar(x = ['Male', 'Female', 'Transgender Male', 'Transgender Female'],
              y = df.gender.value_counts())]
layout = go.Layout(
    title='Gender Frequency',
    xaxis=dict(
        title='Gender'
    ),
    yaxis=dict(
        title='Count'
        )
    )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='foreveralone_gender')

/home/bharat/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [69]:
# Sexuality Frequency

df.sexuallity.value_counts()

Straight       404
Bisexual        45
Gay/Lesbian      8
Name: sexuallity, dtype: int64

In [72]:
# Sexuality counts

data = [go.Bar(x = ['Straight', 'Bisexual', 'Gay/Lesbian'],
              y = df.sexuallity.value_counts())]
layout = go.Layout(
    title='Sexuality Frequency',
    xaxis=dict(
        title='Sexuality'
    ),
    yaxis=dict(
        title='Count'
        )
    )

fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='foreveralone_sexuality')